
/************************************************************************
 menu 
************************************************************************/
.menu {
  padding: 5px 15%;
  background-color: #f8f8f8;
}
.menu .container{
  position: relative;
  width: 100%;
  display: flex;
}
.logo{
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;
}
.logo-img{
  width: 112px;
  font-weight: bold;
}

.menu-list{
  display: flex
}

.menu-item {
  color: #262626;
  line-height: 56px;
  padding-right: 11px;
}

.logo {
  order: 2;
}

/************************************************************************
common button style 
************************************************************************/
.btn {
  font-weight:bold;
  border: solid 4px;
  line-height: 5;
  padding: 12px 40px;
}
.btn-white:hover{
  background-color: white;
  color: #4d4d4d
}

.btn-black:hover {
  background-color: #4d4d4d;
  color: white
}
.btn-white {
  border-color: white;
  color: white;
}

.btn-black {
  border-color: #4d4d4d;
  color: #4d4d4d;
}
/************************************************************************
 main grid 
************************************************************************/
.panel-group {
  display: flex;
  flex-wrap: wrap;
}
.panel {
  position: relative;
  flex: 1;
  background-color: salmon;
  margin: 3px;
  /* padding-top을 %로 처리하면 브라우저를 resize할 때, height가 비용만큼 변함. */
  padding-top: 40%;
}
.panel-wide {
  min-width: 100%;
}
.panel-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}
.panel-content{
  position: absolute;
  bottom: 6%;
  left: 5%;
  display: flex;
  flex-direction: column;
}
.panel-content .title, .panel-content .sub-title{
  line-height: 1.5
}

.main-text-container {
  text-align: center;
  padding: 45px 0;
}

.main-text-container  .text-large {
  line-height: 75px;
  font-size: 75px;
}

.main-text-container .text-normal {
  line-height: 45px;
  font-size: 30px;
}

.font-weight-300{
  font-weight: 300;
}
/************************************************************************
 gallery grid 
************************************************************************/
.gallery-template{
  display: flex;
}
.gallery-item{
  background-color: salmon;
  border: solid 1px white;
  flex: 1;
  align-items: flex-end;
  padding-top: 15%;
  position: relative
}

.gallery-item-group {
  width: 33.33%;
  display: flex;
  flex-direction: column;
}
.gallery-template-1 .gallery-item-group .gallery-item:first-child {
  order: 3;
}
.gallery-item-group .gallery-item{
  width: 100%;
  padding-top: 50%;
}

.gallery-item .content{
  position: absolute;
  left: 25px;
  bottom: 30px;
  
}
.gallery-item-large{
  width: 66.66%;
  background-color: rebeccapurple;
  padding-top: 30%;
}

.gallery-item .title, .gallery-item .sub-title {
  color: white;
  line-height: 1.5;
}

.gallery-item .title{
  font-weight: bold  
}

.gallery .btn-container{
  text-align: center;
  margin: 45px 0;
}
.btn-show-more{
  padding: 12px 125px;
}
.social{
  background-color: #f8f8f8;
}